<%- include("partials/header")%>

<%- include("partials/nav")%>
<div class="main h-screen  w-full bg-no-repeat bg-cover bg-center bg-[url('https://media.istockphoto.com/id/1307414278/photo/online-messaging-social-media-auto-post-production-filter-telephone-mobile-phone.webp?b=1&s=170667a&w=0&k=20&c=FNkSHpjQHWfOfgQWCZSKYGY4HL4B6XqWEmMUkfTixSA=')]">
<div class=" w-[80%] py-[7%] rounded-xl m-auto ">
  <h1 class="text-center text-6xl font-extrabold text-purple-600">About the Application </h1>
  <p class="w-[80%] text-center font-semibold m-auto mt-5 text-lime-400">Lorem ipsum dolor, sit amet consectetur
    adipisicing elit.
    Quisquam,
    culpa
    alias! Magni, sequi
    ex assumenda
    soluta eveniet voluptates voluptate adipisci nihil reprehenderit et, architecto vitae facere delectus maiores
    minus. Voluptate!</p>
  <div class="flex gap-x-5 justify-center mt-10">
    <a class="hover:bg-white rounded tex-white py-3 px-5 bg-black text-rose-700" href="/login">Continue Surfing</a>
    <!-- <a class="hover:bg-red-600 rounded tex-white py-3 px-5 bg-red-400" href="/login">Start Your Journey Today</a> -->
  </div>
</div>
</div>
<%- include("partials/footer")%>
