<%- include("partials/header")%>

<%- include("partials/nav")%>
<div class="main h-[90.8vh] w-[99.9%] bg-black bg-no-repeat bg-cover bg-center  bg-[url('https://designtemplate.tech/images/Social%20Media%20Post%203D%20Intro-HD.webp')]">
<div class=" w-[80%] py-[9%] rounded-xl m-auto ">
  <h1 class="text-center text-6xl font-extrabold text-white">This is Homepage</h1>
  <div class="flex gap-x-5 justify-center mt-10">
    <a class="hover:bg-green-600 rounded tex-white py-3 px-5 bg-blue-400 rounded-md" href="/register">Continue Surfing</a>
    <a class="hover:bg-green-600 rounded tex-white py-3 px-5 bg-blue-400 rounded-md" href="/login">Start Your Journey Today</a>
  </div>
</div>
</div>
<%- include("partials/footer")%>
